#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  border: 2px solid #5a6f09;
  margin-top: 2rem;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #5a6f09;
  background-color: white;
  color: #596e07;
}

/* Modal package settings */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow:  rgba(0,0,0,0.1) 0px 0px 15px, rgba(0,0,0,0.3) 0px 0px 15ps;
  padding: 2rem;
}

.close {
  display: flex;
  position: absolute;
  top: 1rem;
  right: .5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #596e07;
  color: #596e07;
  border-radius: 5px;
  align-self: flex-end;
  padding: .5rem;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.close:hover {
  background-color: #596e07;
  color: #fff;
}

.title {
  text-decoration: none;
  font-size: 1.5rem;
}

.content {
  font-size: 1rem;
}

/****/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
